<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.0.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
http://www.springframework.org/schema/util  
http://www.springframework.org/schema/util/spring-util-2.5.xsd">
	<!-- -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:/config/database.properties" />
	</bean>

	<bean id="program" class="com.mywalletapp.core.Program"
		init-method="init" factory-method="getInstance" destroy-method="close">
		<constructor-arg name="args">
			<util:map key-type="java.lang.String" value-type="java.lang.Object"
				map-class="java.util.HashMap">
				<entry key="IsProduction" value="false" />
				<entry key="LoggerUiController" value="false" />
			</util:map>
		</constructor-arg>
	</bean>


	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"
		destroy-method="close">
		<property name="url" value="${database.url}" />
		<property name="driverClassName" value="${database.driver}" />
		<property name="username" value="${database.user}" />
		<property name="password" value="${database.password}" />
		<property name="poolPreparedStatements" value="true" />
		<property name="initialSize" value="15" />
	</bean>

	<bean id="dataSourceWrapper" class="com.mywalletapp.core.database.DatabaseSourceWrapper"
		destroy-method="close">
		<constructor-arg name="source" ref="dataSource" />
	</bean>

	<bean id="userAccountHome" class="com.mywalletapp.core.user.UserAccountHome"
		factory-method="getInstance" init-method="init">
		<constructor-arg name="source" ref="dataSourceWrapper" />
	</bean>

	<aop:config>

	</aop:config>

</beans>